@{
    ViewData["Title"] = "Home Page";
}

		<!-- Banner -->
<section id="banner">
    <h1>Robot Army</h1>
    <p>The pursuit of global supremacy starts here!</p>
</section>

<!-- One -->
<section id="one" class="wrapper">
    <div class="inner">
        <div class="flex flex-3">
            <article>
                <header>
                    <h3>Register your<br /> army</h3>
                </header>
                <p>Burst onto the world stage and begin training your robots in the pursuit of global domination.</p>
                <footer>
                    <a asp-action="Register" asp-controller="Account" class="button special">More</a>
                </footer>
            </article>
            <article>
                <header>
                    <h3>Advance your<br /> abilities</h3>
                </header>
                <p>Put your robots through their training exercises to equip them for taking over the world.</p>
                <footer>
                    <a asp-action="Dashboard" asp-controller="Home" class="button special">More</a>
                </footer>
            </article>
            <article>
                <header>
                    <h3>Compare your<br /> progress</h3>
                </header>
                <p>Check against your fellow cybernetic megalomaniacs to see who is progressing and who needs your help.</p>
                <footer>
                    <a href="#" class="button special">More</a>
                </footer>
            </article>
        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style1 special">
    <div class="inner">
        <header>
            <h2>Great Robot Leaders</h2>
            <p>These mighty programmers have been training their armies well&hellip;</p>
        </header>
        <div class="flex flex-4">
            <div class="box person">
                <div class="image round">
                    <img src="images/pic03.jpg" alt="Person 1" />
                </div>
                <h3>Magna</h3>
                <p>Cipdum dolor</p>
            </div>
            <div class="box person">
                <div class="image round">
                    <img src="images/pic04.jpg" alt="Person 2" />
                </div>
                <h3>Ipsum</h3>
                <p>Vestibulum comm</p>
            </div>
            <div class="box person">
                <div class="image round">
                    <img src="images/pic05.jpg" alt="Person 3" />
                </div>
                <h3>Tempus</h3>
                <p>Fusce pellentes</p>
            </div>
            <div class="box person">
                <div class="image round">
                    <img src="images/pic06.jpg" alt="Person 4" />
                </div>
                <h3>Dolore</h3>
                <p>Praesent placer</p>
            </div>
        </div>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper special">
    <div class="inner">
        <header class="align-center">
            <h2>Latest News</h2>
            <p>An army leader&rsquo;s work is never done&hellip;</p>
        </header>
        <div class="flex flex-2">
            <article>
                <div class="image fit">
                    <img src="images/pic01.jpg" alt="Pic 01" />
                </div>
                <header>
                    <h3>New tasks available</h3>
                </header>
                <p>
                    A series of new tasks has been added to the Robot training yard where you can collect up to 1000 
                    more exercise points for your army!
                </p>
                <footer>
                    <a href="#" class="button special">More</a>
                </footer>
            </article>
            <article>
                <div class="image fit">
                    <img src="images/pic02.jpg" alt="Pic 02" />
                </div>
                <header>
                    <h3>Armies prepared to fight</h3>
                </header>
                <p>
                    These armies have completed their training and are preparing to be unleashed on the world in an 
                    effort to enslave the human race and <em>your school is first on their list</em>!
                </p>
                <footer>
                    <a href="#" class="button special">More</a>
                </footer>
            </article>
        </div>
    </div>
</section>

