@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";


/* ====== TEXT STYLES ====== */
body { color: rgb(154, 154, 154); }
h1, .h1 { font-family: 'Raleway', Arial, Helvetica, sans-serif; font-size: 3.5em; line-height: 1em; margin: 0 0 0.5em; padding: 0; }
h1, .h1, h2, .h2, h3, .h3 { color: rgb(83, 133, 193);  font-family: 'Raleway', Arial, Helvetica, sans-serif; font-weight: 300; line-height: 1.5; margin: 0 0 1em; }
p { font-size: 92%; line-height: 1.4; margin: 0 0 2em; }
h2, .h2 { font-size: 2.75em; font-weight: 100; margin: 0 0 0.5em; }
h3, .h3 { font-size: 1.35em; }

.banner h1, .contrast-text { color: rgb(255,255,255); font-weight: 100; }
.banner p { color: rgb(255,255,255); font-family: 'Raleway', Arial, Helvetica, sans-serif; margin-bottom: 1.75em; }
header p { color: rgb(187,187,187); margin: -1em 0 1.5em; }
.wrapper > header { margin-bottom: 4em; text-align: center; }

nav a { color: rgb(212, 224, 239); transition: color 0.2s ease-in-out; padding: 0 0.75em; font-size: .8em; }
    nav a:hover { color: rgb(255,255,255); }

.copyright { color: rgb(187, 187, 187); font-size: 0.8em; margin: 0 0 2em; }

/* ====== BLOCK ELEMENTS ======= */
.nav-header { position: absolute; line-height: 3.25em; top: 4em; width: 100%; }
.banner { padding: 12em 0 10em; background-size: cover; background-attachment: fixed; }
.banner-space { background-image: url('../../images/banner.jpg'); background-repeat: no-repeat; text-align: center; border-top: 0.5em solid rgb(83,133,192); }

.wrapper { padding: 6em 0; }
.wrapper-blue { background-color: rgb(83, 133, 193); color: rgb(186, 206, 230); }


/* ====== CONTENT ELEMENTS ====== */
.box { border: solid 1px rgb(219, 219, 219); margin: 0 0.5em; }
    .box.person { border: solid 1px rgba(255,255,255,0.25); padding: 3em 1.5em; text-align: center; }

.top-bar { width: 80%; margin: 0 auto; }


/* ====== MEDIA ELEMENTS ====== */

.image { border-radius: 0; border: 0; display: inline-block; }
.image.fit { margin-bottom: 2em; }
.image-round { border-radius: 100%; }



/* ====== FOUNDATION OVERRIDES ====== */
.top-bar, .top-bar ul { background-color: transparent; }

.keyframe-test:hover { animation-duration: 3s; animation-name: slideIn; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; }

@keyframes slidein {
    from { transform: rotate(0deg); }

    to { transform: rotate(180deg); }
}